body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Cairo';
  src: local('Cairo'), url('./Fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf');
}

.avatar{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  object-fit: cover;
  transition: transform .2s;
}

.avatar:hover{
  transform: scale(1.1);
}